<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <h1>URL Shortner</h1>
      <div>
        <a href="/signup">Sign up</a>
      </div>
    </nav>
    <form action="/api" method="post">
      <fieldset>
        <legend>Short Urls</legend>
        <input type="text" name="url" id="" placeholder="https://example.com" />
        <input type="submit" value="Generate" />
      </fieldset>
    </form>
    <table>
      <thead>
        <tr>
          <th>Original URL</th>
          <th>Short URL</th>
          <th>Total Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% urls.forEach(url=>{ %>
        <tr>
          <td><%= url.redirectURL %></td>
          <td>
            <a
              href="https://url-shortner-cqqr.onrender.com/url/<%= url.shortId %>"
              target="_blank"
              >https://url-shortner-cqqr.onrender.com/url/<%=url.shortId %></a
            >
          </td>
          <td><%=url.visitHistory.length%></td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </body>
</html>
