<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/user/login" method="post">
      <div class="">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="">
        <label for="email">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <input type="submit" value="Login" />
    </form>
    <br />
    <a href="/signup">Sign Up</a>
  </body>
</html>
